@media (max-width: 992px) {
  .about, .services, .products, .contact {
    width: 100%;
    height: auto;
    padding: 44px 0;
  }

  .navbar {
    width: 100%;
    height: 10vh;
    background-color: black;
    opacity: 1;
  }

  .navbar-nav {
    background-color: rgb(19, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0;
  }

  .nav-item {
    margin: 8px 0;
  }

  .about_img::before {
    content: '';
    position: absolute;
    bottom: -21px;
    right: 150px;
    width: 38%;
    height: 80%;
    background-color: rgb(211, 65, 21);
    z-index: -1;
  }

  .about_img::after {
    content: '';
    position: absolute;
    top: -21px;
    left: 150px;
    width: 38%;
    height: 80%;
    background-color: rgb(16, 167, 2251);
    z-index: -1;
  }

  .about_img {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  }

  .content_about {
    margin: 54px 0 20px 0;
  }

  .content_services_containers {
    width: 100%;
    height: auto;
  }


}