* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(img/img6.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.navbar {
  width: 100%;
  height: 10vh;
  background-color: black;
  opacity: .8;
}

.logo_web {
  color: white;
  font-size: 25px;
  font-weight: 700;
  opacity: 1;
}

.logo_web span {
  color: rgba(39, 134, 243, .767);
}

.nav-item {
  margin: 0 6px;
}

.nav-link {
  color: rgba(255, 255, 255, .795);
  font-weight: 500;
  font-size: 12px !important;
  text-transform: uppercase;
}

.nav-link:hover,
.active {
  color: rgb(229,255,0) !important;
}

.btn_navbar {
  text-decoration: none;
  color: rgba(255, 255, 255, .795);
  font-size: 12px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, .595);
  padding: 8px 30px;
  border-radius: 2px;
  cursor: pointer;
  margin: 0px 8px;
  position: relative;
}

.btn_navbar span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(229,255,0);
  z-index: -1;
  transition: .5s ease-out;
}

.btn_navbar:hover {
  color: black;
}

.btn_navbar:hover span {
  width: 100%;
}

.home_section {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.heading_sm {
  font-size: 42px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin: -8px 8px;
}

.heading_lg {
  color: white;
  font-size: 71px;
  font-weight: 800;
  text-transform: uppercase;
}

.heading_md {
  font-size: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .61);
  margin: -10px 11px;
}

.para_home {
  color: rgba(255, 255, 255, .822);
  font-weight: 500;
  max-width: 400px;
  font-size: 14px;
  font-size: 14px;
  line-height: 24px;
  margin: 29px 8px;
}

.btn_home {
  display: inline-block;
  padding: 8px 24px;
  font-size: 13px;
  font-weight: 600;
  color: rgba(255, 255, 255, .877);
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, .534);
  border-radius: 2px;
  margin: 0 3px;
  transition: .2s ease-out;
}

.btn_home:hover {
  background-color: rgb(31, 156, 206);
  padding: 9px 24px;
  border: none;
}

.btn_2 {
  background-color: rgb(31, 156, 206);
  border: none;
  padding: 9px 24px;
  margin: 0 3px;
}

.social_icons_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}

.icon_social {
  color: rgba(255, 255, 255, .767);
  margin: 0 4px;
  font-size: 18px;
  cursor: pointer;
}

.icon_social:hover {
  color: rgb(255, 197, 27);
}


/* home sec finish */

.about {
  width: 100%;
  height: 80vh;
  background-color: rgb(19, 16, 16);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading_about {
  display: inline-block !important;
  font-size: 31px;
  font-weight: 500;
  color: rgba(231, 231, 231, .815);
  text-align: center !important;
  margin-bottom: 62px;
  position: relative;
} 

.heading_about::after {
  content: '';
  position: absolute;
  border: 3px solid rgb(255, 197, 27);
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 58px;
  border-radius: 11px;
}

.heading_about span {
  color: rgb(255, 197, 27);
}

.about_img {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.about_img::before {
  content: '';
  position: absolute;
  bottom: -21px;
  right: 130px;
  width: 45%;
  height: 80%;
  background-color: rgb(211, 65, 21);
  z-index: -1;
}

.about_img::after {
  content: '';
  position: absolute;
  top: -21px;
  left: 130px;
  width: 45%;
  height: 80%;
  background-color: rgb(16, 167, 2251);
  z-index: -1;
}

.image_about {
  width: 320px;
  height: 320px;
  background-image: url(img/me.jpg);
  background-position: center;
  background-size: cover;
}

.heading_about_content {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(255, 197, 27);
  margin-bottom: 7px;
}

.para_content_about {
  font-size: 12px;
  line-height: 21px;
  color: rgba(231, 231, 231, .767);
}

.para_content_about span {
  color: rgb(255, 197, 27);
}

.our_details {
  width: 100%;
  height: auto;
  background-color: rgb(27, 23, 23);
  padding: 3px 0;
}

.items_details {
  margin: 10px 0;
  list-style: none;
  color: rgb(255, 197, 27);
  font-size: 12px;
}

.items_details span {
  color: rgba(255, 255, 255, .541);
  margin: 0 3px;
}

.icon_social_about {
  margin: 0 7px;
  color: rgba(255, 255, 255, 0.849);
  cursor: pointer;
}

.btn_content_about {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(212, 65, 90);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  padding: 9px 26px;
  margin: 16px 0;
  transition: .3s ease-in;
}

.btn_content_about:hover {
  background-color: rgb(232, 85, 90);
}

/* about me finish */

.services {
  width: 100%;
  height: 60vh;
  background-color: black;
  display: flex;
  align-items: center;
}

.heading_sm_services {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(231, 231, 231, .685);
  letter-spacing: 2px;
  margin: 11px 0;
}

.heading_services {
  font-size: 32px;
  font-weight: 700;
  color: rgba(231, 231, 231, .856);
  margin-bottom: 32px;
  position: relative;
}

.heading_services::after {
  content: '';
  position: absolute;
  bottom: -14px;
  background-color: rgba(231, 231, 231, .945);
  left: 0;
  width: 72px;
  height: 3px;
  border-radius: 11px;
}

.para_services {
  font-size: 12px;
  font-weight: 400;
  color: rgba(231, 231, 231, .586);
  max-width: 428px;
  line-height: 22px;
}

.btn_services {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  padding: 11px 19px;
  text-transform: uppercase;
  background-color: rgb(212, 65, 90);
  color: white;
  margin: 8px 0;
  transition: .3s ease-out;
}

.btn_services:hover {
  background-color: rgb(232, 85, 90);
}

.content_services_containers {
  height: auto;
  background-color: rgb(16, 14, 14);
  background-image: linear-gradient(58deg, rgba(16,14,14,1) 69% , rgba(80,80,83,1) 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6px 9px;
}

.icon_services {
  font-size: 62px;
  color: rgba(231, 231, 231, .897);
}

.heading_service_content {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: rgba(231, 231, 231, .747);
  margin: 3px 0;
}

.para_services_content {
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: rgba(231, 231, 231, .386);
  margin: 5px 0;
}

.service_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  width: 100%;
  height: 80vh;
  background-color: rgb(19, 16, 16);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content_products {
  width: 100%;
  height: 380px;
  background-color: rgb(26, 25, 25);
  position: relative !important;
}

.image_product {
  width: 100%;
  height: 280px;
  overflow: hidden;
}

.img1_product {
  width: 100%;
  height: 100%;
  background-image: url(img/img.jpg);
  background-position: center;
  background-size: cover;
  transition: .5s ease;
}

.arrival_cart {
  position: absolute !important;
  left: 0;
  bottom: 70px;
  width: 100%;
  height: auto;
  padding: 6px 18px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in;
}

.image_product:hover .img1_product {
  transform: scale(1.18);
  cursor: pointer;
}

.para_arrival {
  font-size: 11px;
  font-weight: 600;
  color: rgba(255, 255, 255, .877);
  margin: 0;
}

.content_products:hover .arrival_cart {
  opacity: 1;
  visibility: visible;
  bottom: 96px;
  background-color: rgba(0, 0, 0, .7);
}

.icon_products {
  color: rgba(255, 255, 255, .733);
  font-size: 11px;
  padding: 0 8px;
}

.heading_content_products {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 25px;
  color: rgba(255, 255, 255, .918);
}

.price_products {
  font-size: 15px;
  font-weight: 400;
  margin: -8px 0;
  text-align: center;
  color: rgba(255, 255, 255, .671);
}

.content_products:hover .heading_content_products {
  color: rgb(255, 197, 27);
}

/* footer start */

footer {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span {
  color: rgba(255, 255, 255, .644);
  font-size: 12px;
  text-align: center;
}